.box{
    background-color: green;
}
.addnewbut{
    align-items: center;
    background-color: aqua;
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    align-items: center;
}
.addnewbutt{
    background-color: grey;
    border-color: grey;
}

.addnewbut{
    flex-direction: column;
    display: flex;
}